* {
    background-color: #bea191;
}
header.page-header {
    background: no-repeat right/cover url(https://www.trbimg.com/img-57f3c7b9/turbine/mc-whole-foods-hamilton-macungie-review-20161004);
    display: flex;
    height: 120px;
    min-width: 120px;
    align-items: center;
    color: #225464;
    text-shadow: #003 0 0 .2em;
}

header.page-header > h1 {
    font: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: larger;
    font-stretch: expanded
}

main {
    font: 1rem 'Fira Sans', sans-serif;
}

}
.navbar-brand {
    padding-top: $navbar-brand-padding-y;
    padding-bottom: $navbar-brand-padding-y;
    margin-right: $navbar-brand-margin-end;
    @include font-size($navbar-brand-font-size);
    text-decoration: if($link-decoration == none, null, none);
    white-space: nowrap;
  
    &:hover,
    &:focus {
      text-decoration: if($link-hover-decoration == underline, none, null);
    }
  }
  }

